.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 8px 1px rgba(201, 201, 201, 0.47);
    width:800px;
  
  }
.title{
    font-weight: bolder;
    color: blueviolet;
    font-size: 30px;
    }
    
   
    .first{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap:10px;
        color: grey;
        font-weight: bold;
    }
        
       .second{
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        gap:20px;
        color: grey;
        font-weight: bold;
    }
    .buttons{
        display: flex;
        gap:10px;
        margin: 20px;
    }
    label{
        color: rgb(226, 39, 70);
           }
       button{
        background-color: rgb(144, 237, 144);
        color: black;
        border:2px solid grey;
        height:30px;
        width:200px;
        border-radius:5px;
       }
       .clear{
        background-color:rgb(160, 160, 249)
       }
       .calculate{
        background-color: rgb(210, 180, 238);
       }
       hr{
        color: 2px solid black;
       }
        .goal-container {
        border: 1px solid rgba(0, 0, 0, 0.1);
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 22px;
        background-color: #ffffff;
        
      }
      .goal-input {
        border: none;
        outline: none;
        padding-left: 22px;
        font-family: inherit;
        font-size: 16px;
        align-self: stretch;
        width: 100%;
        font-weight: 500;
      }

       @media screen and (max-width: 768px) {
        /* CSS rules for screens with a maximum width of 768px */
        .title{
            font-size: 22px;
        }
    }

       @media screen and (max-width: 500px) {
        /* CSS rules for screens with a maximum width of 768px */
        .title{
            font-size: 15px;
        }
        
        
    
    }
