.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 8px 1px rgba(201, 201, 201, 0.47);
  
    
}
.title{
    font-weight: bolder;
    color: blueviolet;
    margin-top: -5px;
    font-size: 30px;
    
}
    
   
    .first{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap:10px;
        color: grey;
        font-weight: bold;
    }
        input{
            height:40px;
            width:500px;
            border:2px solid grey
        }
       
    
    .second{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap:20px;
        color: grey;
        font-weight: bold;
    }
    .buttons{
        display: flex;
        gap:10px;
        margin: 20px;
    }
    label{
        color: rgb(226, 39, 70);
    }
       button{
        background-color: rgb(144, 237, 144);
        color: black;
        border:2px solid grey;
        height:30px;
        width:200px;
        border-radius:5px;
       }
       .clear{
        background-color:rgb(160, 160, 249)
       }
       .calculate{
        background-color: rgb(210, 180, 238);
       }
       hr{
        color: 2px solid black;
       }
