.zip-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    margin-top: 15px;
}
.input-group {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 22px;
    background-color: #ffffff;
    margin: 18px;
    
  }
  .input-class {
    border: none;
    outline: none;
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    align-self: stretch;
    width: 100%;
    font-weight: 500;
  }
.future{
    background-color: rgb(202, 155, 247);
    border:2px solid grey;
    display: flex;
    width:350px;
    flex-direction: column;
    gap:13px;
}

label{
    color: rgb(226, 39, 70);
    font-weight: bold;
}
   .sip-button{
    background-color: rgb(201, 169, 231);
    color: black;
    border:2px solid grey;
    height:30px;
    width:200px;
    border-radius:5px;
   }
   
@media screen and (max-width: 550px) {
  /* CSS rules for screens with a maximum width of 768px */
  .title{
      font-size: 15px;
  }
  .input-group{
     margin:5px;
      width:95%;
      font-size:15px
   }
  .emi-calculator{
      width:90%;
  }
  .buttons{
      width:100%
  }
}

