.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    height: 50px;
    width: 100%;
}

.container {
    display: flex;
    margin: 2px;
    margin-top: 50px;
    overflow-x: hidden;
    width:100%
}

.sidebar {
    width: 200px;
}

.content {
    display: flex;
   margin:auto;
    overflow: hidden;
    
  }

@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px */
    .sidebar{
        display:none;
        
    }
    .content{
        display: flex;
        align-items: center;
       background-color: whitesmoke;
        width:70%;
        margin: auto;
        justify-content: center;
          }
    }
