.per{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: grey;
    
    gap:15px;

}
h1{
    color: rgb(242, 127, 127);
    font-weight: bolder;
}
.cal-per{
    background-color: rgb(210, 170, 247);
}
.input-group {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px;
    background-color: #ffffff;
    margin: 18px;
    
  }
  .input-class {
    border: none;
    outline: none;
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    align-self: stretch;
    width: 100%;
    font-weight: 500;
    margin-left: 120px;
  }
  label{
    margin-top: -30px;
  }
  @media screen and (max-width: 550px) {
    /* CSS rules for screens with a maximum width of 768px */
    .title{
        font-size: 15px;
    }
    .input-group{
       margin:5px;
        width:95%;
        font-size:15px
     }
    .emi-calculator{
        width:90%;
    }
    .buttons{
        width:100%
    }
}
  
